In [123]:
import pandas as pd

pd.__version__

'2.3.3'

In [124]:
df = pd.read_csv(r"C:\Users\User\Documents\INGENI@\PROGR CIENCIA DATOS\bd_proyecto.csv")  # ruta local
print(df.head())

     Año Cantidad           Sector Económico  \
0  2,002        0              Agropecuarias
1  2,002        0           Minas y canteras
2  2,002        2             Manufactureras
3  2,002        0  Electricidad, Gas y vapor
4  2,002        1               Construcción

                                    Estados empresas Cantidad de empleos  \
0  Cambio de Domicilio, empresas que se fueron de...                 248
1  Cambio de Domicilio, empresas que se fueron de...                 248
2  Cambio de Domicilio, empresas que se fueron de...                 248
3  Cambio de Domicilio, empresas que se fueron de...                 248
4  Cambio de Domicilio, empresas que se fueron de...                 248

  Activos (Miles)
0      16,847,200
1      16,847,200
2      16,847,200
3      16,847,200
4      16,847,200

In [125]:
# Esto busca todas las comas en esa columna y las cambia por puntos
#df['Año'] = df['Año'].str.replace(',','.')

# Imprime las primeras filas para verificar
print(df.head())

     Año Cantidad           Sector Económico  \
0  2,002        0              Agropecuarias
1  2,002        0           Minas y canteras
2  2,002        2             Manufactureras
3  2,002        0  Electricidad, Gas y vapor
4  2,002        1               Construcción

                                    Estados empresas Cantidad de empleos  \
0  Cambio de Domicilio, empresas que se fueron de...                 248
1  Cambio de Domicilio, empresas que se fueron de...                 248
2  Cambio de Domicilio, empresas que se fueron de...                 248
3  Cambio de Domicilio, empresas que se fueron de...                 248
4  Cambio de Domicilio, empresas que se fueron de...                 248

  Activos (Miles)
0      16,847,200
1      16,847,200
2      16,847,200
3      16,847,200
4      16,847,200

In [126]:
df.rename(columns={"Año":"Fecha"},inplace=True)
#df.info()
df['Fecha'] = df['Fecha'].str.replace(',','')

df['Cantidad de empleos'] = df['Cantidad de empleos'].str.replace(',','')
df['Activos (Miles)'] = df['Activos (Miles)'].str.replace(',','')
df['Cantidad'] = df['Cantidad'].str.replace(',','')
#print(df.head())

In [127]:
# errors='coerce' convierte los datos erróneos en NaT (Not a Time) en lugar de dar error
#df['Fecha'] = pd.to_datetime(df['Fecha'], errors='coerce')
#df.head()
df["Fecha"] = df["Fecha"].astype(int)
df["Cantidad de empleos"] = df["Cantidad de empleos"].astype(int)
df["Activos (Miles)"] = df["Activos (Miles)"].astype(int)
df["Cantidad"] = df["Cantidad"].astype(int)

df.info()
#print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Fecha                1008 non-null   int64
 1   Cantidad             1008 non-null   int64
 2   Sector Económico     1008 non-null   object
 3   Estados empresas     1008 non-null   object
 4   Cantidad de empleos  1008 non-null   int64
 5   Activos (Miles)      1008 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.4+ KB